<% provide(:h1, "Please Voice") %>

<h2 class="main-h2">
  Please Voiceは「フィードバック」をもらえるWebサービスです
</h2>

<br><br>

<div class="main">
  アカウントを作ることでWebサービスを公開できます<br><br>

  他人のWebサービスにはリプライ（アドバイスや意見）を送りましょう<br>
  Web開発初心者でも積極的に！！<br>
  （Webサービスを使うのはほぼWeb開発を知らない人だからです）<br><br>

  バグの報告や使い方の質問は<%= link_to "このTwitterアカウント", "https://twitter.com/n0ma_ru", target: "_blank" %>のDMにお願いします。
</div>