<% provide(:title, "Send Reply") %>
<% provide(:h1, "返信") %>

<%= form_for(@reply, url: "/send_reply/#{params[:app_id]}", :html => {:class => 'form'}) do |f| %>
  <div>
    <%= f.label :content, "メッセージ" %>
  </div>
  <div>
    <%= f.text_area :content %>
  </div>

  <%= f.submit "返信" %>
<% end %>