<% provide(:title, @user.name) %>
<% provide(:h1, @user.name) %>

<%= @user.name %>の作品
<table>
  <tr>
    <td>アプリ名</td>
    <td>閲覧数</td>
  </tr>
  <% @app.each do |app| %>
    <tr>
      <td><%= link_to app.title, "/apps/#{app.id}" %></td>
      <td><%= app.views %></td>
    </tr>
  <% end %>
</table>