<% if @app.errors.any? %>
  <div class="errors">
    <% @app.errors.full_messages.each do |msg| %>
        <% msg = msg.sub(/Exp/, 'Explain') %>
        <% msg = msg.sub(/Url/, 'URL') %>
        <div class="list">・<%= msg %></div>
    <% end %>
  </div>
<% end %>