<% provide(:title, "ALL Apps") %>
<% provide(:h1, "全アプリ") %>

<table>
  <tr>
    <td>アプリ名</td>
    <td>製作者</td>
  </tr>
  <% @apps.each do |app| %>
    <tr>
      <td><%= link_to app.title, "/apps/#{app.id}" %></td>
      <td><%= User.find(app.user_id).name %></td>
    </tr>
  <% end %>
</table>