<% provide(:title, "ALL Apps") %>
<% provide(:h1, "全アプリ") %>

<table>
  <tr class="first-tr">
    <td>アプリ名</td>
    <td>製作者</td>
  </tr>
  <% @apps.each do |app| %>
    <tr>
      <td><%= link_to app.title, "/apps/#{app.id}" %></td>
      <% user = User.find(app.user_id) %>
      <td><%= link_to user.name, "/users/#{user.id}" %></td>
    </tr>
  <% end %>
</table>