.form{
  width: 30%;
  margin: 0 auto;
  text-align: center;

  font-weight: bold;
  font-size: 1.2em;
}

.form input[type="text"], input[type="password"], textarea{
  background-color: #e3fafc;

  border: solid 1px #cacccc;
  border-radius: 10px;

  width: 100%;
  height: 35px;

  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.form textarea{
  height: 60px;
  text-align: left;
}

.form input[type="submit"]{
  width: 100%;
  height: 35px;

  font-weight: bold;
  font-size: 1.2em;

  background-color: #27d69c;
  border: solid 1px #27d69c;
  border-radius: 10px;

  margin-top: 10px;
}