// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-h2{
  // width: 60%;
  // margin: 0 auto;
  text-align: center;
}

.main{
  width: 60%;
  margin: 0 auto;

  font-size: 1.5em;
}