// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
  width: 60%;
  margin: 0 auto;

  font-size: 1.3em;
  
  border-collapse: collapse;
}

.first-tr{
  background-color: #e3e6e6;
}

td{
  border: solid 1px #b8baba;
  border-collapse: collapse;
}

.with-table{
  width: 60%;
  margin: 0 auto;
}